<%= link_to 'New Apartment', new_apartment_path %>

<h1>Apartments</h1>

<% @apartments.each do |apartment| %>

  <p>
    <strong><%= apartment.name %></strong> <br>
    <a href="/apartments/<%= apartment.id%>">
      <%= apartment.street_1 %>, <%= apartment.city %> <br>
      <%= apartment.state %></a> <br>
  </p>


<% end %>
